#login {
  background-color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
}

#submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  margin-top: 25px;
}

form > * {
  padding: 5px;
}

div input {
  margin: 10px;
}

.invalid-feedback {
  margin-left: 10px;
  text-align: left;
}