<div id="login" class="container-fluid" align="center">

    <div class="row" align="center">
        <div class="col-5">
            <a routerLink="/login">Login</a>
        </div>
        <div class="col-2">
            |
        </div>
        <div class="col-5">
            <a routerLink="/register">Register</a>
        </div>
    </div>

    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="getUsers()">
      <div class="row">
        <label class="col-sm-2 offset-sm-1" for="username">Username:</label>
        <div class="col-sm-7">
            <input type="username" formControlName="username">
          <div *ngIf="formControls.username.touched && formControls.username.errors || isSubmitted" class="help-block">
            <p *ngIf="formControls.username.errors.required">Username is required</p>
          </div>
        </div>
      </div>

      <div class="row">
          <label class="col-sm-2 offset-sm-1" for="email">Password:</label>
          <div class="col-sm-7">
              <input type="password" formControlName="password">
            <div *ngIf="formControls.password.touched && formControls.password.errors || isSubmitted" class="help-block">
              <p *ngIf="formControls.password.errors.required">Password is required</p>
            </div>
          </div>
      </div>
      
      <div class="row justify-content-center">
        <button id="submit" class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>