#show-results {
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    padding: 0;
}

p {
    color: black;
}

.img-fluid {
    padding: 10px;
    margin: 0 auto;
}

#top-text {
    padding: 0;
    margin-bottom: -10px;
}

p {
    font-size: 15px;
}