#createChapter{
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    margin-top: 10px;
}

#createChapter input {
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    border: 1px solid grey;
    padding: 8px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }

#createChapter input[type="submit"] {
    width: 150px;
    text-align: center;
    background: #014089;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  #headerBar{
    width: inherit !important;
    text-align:center;
    color: #fff;
    background: #014089;
  }

  #headerBar h3 {
    padding: 5px;
  }

  #submit {
    margin: 10px;
  }