<link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
<div id="createChapter" class="container-fluid">
    <div id="headerBar">
      <h3> Create Chapter</h3>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <form [formGroup]="chapterForm" class="chapter-container" (ngSubmit)="chapterCreate()">
      <!--Chapter Title-->
        <h5>Title</h5>
        <input class="col-12" type="text" placeholder="Title" formControlName="chapterTitle" required minlength="4" required maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.chapterTitle.errors }">
        <div *ngIf="submitted || (f.chapterTitle.touched && f.chapterTitle.errors)" class="invalid-feedback">
          <div *ngIf="f.chapterTitle && f.chapterTitle.errors.required">Title is required</div>
          <div *ngIf="f.chapterTitle && f.chapterTitle.errors.minlength">Title must be at least 4 character long.</div>
          <div *ngIf="f.chapterTitle && f.chapterTitle.errors.maxlength">Title cannot be more than 50 characters long.</div>
        </div>

    <!--Quill Text Editor-->
      <br>
      <h5>Content</h5>
      <quill-editor [style]="editorStyle" [modules]=config formControlName="editor"></quill-editor>

      <input id="submit" type="submit" value="Create Chapter" >
      <br>
    </form>
</div>
