/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#topNav {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 8px;
    transition: all 0.3s;
}

.search {
    padding: 5px;
    border: 1px solid black;
}

.search input {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid grey;
}

.search input:focus {
    outline: none !important;
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */
#sidebar-login-mobile {
    width: 100%;
}

#login-btn {
    margin-top: 3px;
}

@media (max-width: 768px) {
    #topNav {
        width: 100%;
        margin-left: 0;
    }
    
    #sidebar .fa {
        font-size: 1em !important;
    }
}