/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#topNav {
    width: 100%;
    overflow: hidden;
    margin-left: 250px; /* Same as the width of the sidenav */
    margin-top: 10px;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */
#sidebar-login-mobile {
    width: 100%;
}

@media (max-width: 768px) {
    #topNav {
        width: 100%;
        margin-left: 0;
    }
    
    #sidebar .fa {
        font-size: 1em !important;
    }
}