<div id="topNav">
    <div id="desktopSearch" class="row float-right search">
        <form class="form-inline md-form form-sm active-cyan-2 mt-2 float-right">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </form>
    </div>


    <!-- Login Bar - Mobile Screen -->
    <div id="sidebar-login-mobile" class="row d-md-none">
        <div id="login-bars" class="col-6">
            <a (click)="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
        <div class="col-6 search">
            <div id="search" class="row">
                <div class="col-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-1">
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>