<div class="row">
    <div class="shadow-sm bg-white rounded panel-home col-sm-5 offset-sm-1">
        <div *ngIf="recentStories" class="header-text"><h5 class="text-center">Most Recent Stories</h5></div>
        <hr>
        <li *ngFor="let story of recentStories">
            <a routerLink="/story/{{story.story_id}}"><p>{{story.title}}</p></a>
        </li>
    
    </div>
    
    <div *ngIf="popularStories" class="shadow-sm bg-white rounded panel-home col-sm-5">
        <h5 class="text-center">Most Liked Stories</h5>
        <hr>
        <li *ngFor="let story of popularStories">
            <a routerLink="/story/{{story.story_id}}"><p>{{story.title}}</p></a>
        </li>
    </div>
</div>
    
<div class="row">
    <h5>See what's new!</h5>
    <p><strong>v1.0.0 - Initial Released!</strong> Welcome to Keyblade Stories! This application has been in the works for a few months now. It started out as an idea on paper but with dedication and persistent it became a functioning application. We hope you enjoy the platform, we hope you tell your family and friends. We are striving to build a community to drive the success of this website. Thank you!</p>
    <p>- James Mulholland & Emerson Hidalgo</p>
</div>

<div class="row">
    <h5>I am new here, what can I do?</h5>
    <p>Head over to the <a routerLink="/about">about page</a> where you can find more information about the website and quick how-to to get started. You do not need to be logged in to view stories. Feel free to nagivate through existing stories.</p>
</div>
