<div id="story-page" class="container-fluid">
  <br>
  <div *ngIf="story" id="book" class="row">

      <div class="col-sm-5">
        <div class="row">
          <img class="img-fluid" [src]="story.coverImage" alt="book-artwork">
        </div>
        <div class="row">
          <div id="ratings" class="row float-right">
              <i (click)=upVote class="fa fa-thumbs-o-up"> {{story.likes}}</i>
              <i class="fa fa-thumbs-o-down"> {{story.dislikes}}</i>
          </div>
        </div>
      </div>

      <div id="book-information" class="col-sm-7">
        <div class="container">
          <p class="h4">{{story.title}}</p>
          <p class="h5">Andy Weir</p>
          <br>
          <br>
          <p class="h6">summary:</p>
          <p>{{story.summary}}</p>
          <br>
          <p class="h6">tags:</p>
          <p>stuff, thriller, action, etc</p>
          
        </div>
      </div>

  </div>

  <div class="row">
    <p class="text-uppercase font-weight-bold">Chapters</p>
    <div id="chapters" class="container">
      <p>CH 1 - Chapter Title</p>
      <p>CH 2 - Chapter Title</p>
    </div>
  </div>
  <br>
  <div class="row">
    <p class="text-uppercase font-weight-bold">Comments</p>
    <div id="comments" class="container">
      <div class="comment">
          <p>Great book! I highly recommend it and everyone should contribute to it.</p>
          <p>Action pack that builds up a irresistible immersion.</p>
      </div>
    </div>
  </div>
  <br>


</div>
