<div id = "createStory" class = "container-fluid">
  <div id = "headerBar">
    <h1> Create Story</h1>
  </div>
  <form [formGroup] = "storyForm" class = "story-container" (ngSubmit) ="storyCreate()">
    <!--Story Title-->
      <h5>Title</h5>
      <p [ngClass]="{ 'has-error': formControls.storyTitle.errors }">
          <input type="text" placeholder="Title" formControlName="storyTitle" minlength="4" maxlength = "50">
      </p>
      <div *ngIf=" formControls.storyTitle.errors" class="help-block">
          <div *ngIf="formControls.storyTitle.errors.required">Story title is required</div>
      </div>
    <!--Story Tags-->  
      <h5>Tags</h5>
      <p>Testing the ngFor to create a list of buttons</p>
      <div *ngIf="formControls.title.touched">

      
      <li *ngFor="let tag of tags">
        <button (click)="setNumber(i)">{{ tag.name }}</button>
      </li>
    </div>
    
    <!--Story Summary-->
      <h5>Summary</h5>  
      <textarea [ngClass]="{ 'has-error': isSubmitted && formControls.storyDescrip.errors }">
      </textarea>
      
    <!--Story Cover Image--> 
    
    <p>
      <input type="submit" value = "Create Story">
    </p>


  </form>

</div>
