<div id="registration" class="container-fluid" align="center">
        <div class="row" align="center">
                <div class="col-5">
                    <a routerLink="/login">Login</a>
                </div>
                <div class="col-2">
                    |
                </div>
                <div class="col-5">
                    <a routerLink="/register">Register</a>
                </div>
            </div>


    <form [formGroup]="registerForm" (ngSubmit)="signup()">
        <div id="avatar" class="row">
            <div class="col-6 col-sm-3">
                <label for="image-upload">
                    <img [src]="netImage" alt="avatar"> 
                </label>
                <input formControlName="profileImage" id="image-upload" type="file" accept="image/*" (change)="onFileSelected($event)">
            </div>    
        </div>

        <div class="row">
            <label class="col-sm-2 offset-sm-1" for="username">Username:</label>
            <div class="col-sm-7">
                <input type="username" formControlName="username">
            </div>
            <div *ngIf="formControls.username.touched && formControls.username.errors" class="help-block">
                <p *ngIf="formControls.username.errors.required">Username is required.</p>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-sm-2 offset-sm-1" for="register-email">Email: </label>
            <div class="col-sm-7">
                <input type="email" formControlName="email">
            </div> 
            <div *ngIf="formControls.email.touched && formControls.email.errors" class="help-block">
                <p *ngIf="formControls.email.errors.required">Email is required</p>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2 offset-sm-1" for="register-password">Password: </label>
            <div class="col-sm-7">
                <input type="password" formControlName="password">
            </div>
            <div *ngIf="formControls.password.touched && formControls.password.errors" class="help-block">
                <p *ngIf="formControls.password.errors.required">Password is required.</p>
                <p *ngIf="formControls.password.errors.pattern">Password requires one captial letter (A-Z) and symbol [ !@#$%^&*() ]</p>
            </div> 
        </div>
        <div class="row">
            <label class="control-label col-sm-2 offset-sm-1" for="register-confirm">Confirm Password: </label>
            <div class="col-sm-7">
                <input type="password" formControlName="password_confirm">
            </div>
            <div *ngIf="formControls.password_confirm.touched && formControls.password_confirm.errors" class="help-block">
                <p *ngIf="formControls.password.errors.required">Confirm password is required.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary" type="submit" >Register</button>
        </div>
    </form>
</div>