<div class="container-fluid">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Keyblade Stories</h3>
      </div>
      <hr class="hr-90">
      <ul class="list-unstyled components">
          <li>
            <a routerLink="/home">
                <i class="fa fa-home">&nbsp;&nbsp;Home</i>
            </a>
            <a routerLink="/about">
                <i class="fa fa-users">&nbsp;&nbsp;About</i>
            </a>
            <a routerLink="/story-page">
                <i class="fa fa-book">&nbsp;&nbsp;Stories</i>
            </a>
              <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="fa fa-copy dropdown-toggle">&nbsp;&nbsp;Pages&nbsp;</i>
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>-->
          </li>
      </ul>
      <hr class="hr-90">
      <ul class="list-unstyled components">
          <li>
              <a routerLink="/login">
                  <i class="fa fa-sign-in">&nbsp;&nbsp;Login</i>
              </a>
          </li>
          
      </ul>
      <ul class="list-unstyled components" *ngIf="isLogged">
            <hr class="hr-90">
            <li>
                <a routerLink="/profile">
                    <i class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;Profile</i>
                </a>
            </li>
            <li>
                <a routerLink="/favorites">
                    <i class="fa fa-star" aria-hidden="true">&nbsp;&nbsp;Favorites</i>
                </a>
            </li>
            <hr class="hr-90">
        </ul>
  </nav><!--END NAV -->

  <!-- PAGE CONTENT-->
  <div id="main">
    <app-login-bar></app-login-bar>
    <router-outlet></router-outlet>
  </div>

</div>

<!-- Mobile Menu -->
<div id="mobileNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content" (click)="closeNav()">
    <div>
        <h1 class="header">KS</h1>
        <hr class="hr-75">
    </div>

      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/story-page">Stories</a>
      
    <div>
        <hr class="hr-75">
        <a routerLink="/login">Login</a>
    </div>
    <!--<div *ngIf="myService.currentUser.type_id == 1">
        <hr class="hr-75">
        <a routerLink="/profile">Profile</a>
        <a routerLink="/favorites">Favorites</a>
        <a >Logout</a>
    </div>-->
  </div>
</div>